.add {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: grey;
    justify-content: center;
    align-items: center;

    &--active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        margin: 0 0 10px;
    }

    &__input {
        width: 140px;
        margin: 0 0 32px;
    }

    &__add-button {
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
}