.item,
.stats__category,
.stats__category-bar {
    &--yellow01::before {
        background-color: $yellow01;
    }

    &--yellow02::before {
        background-color: $yellow02;
    }

    &--yellow03::before {
        background-color: $yellow03;
    }

    &--yellow04::before {
        background-color: $yellow04;
    }

    &--green01::before {
        background-color: $green01;
    }

    &--green02::before {
        background-color: $green02;
    }

    &--green03::before {
        background-color: $green03;
    }

    &--green04::before {
        background-color: $green04;
    }

    &--blue01::before {
        background-color: $blue01;
    }

    &--blue02::before {
        background-color: $blue02;
    }

    &--blue03::before {
        background-color: $blue03;
    }

    &--blue04::before {
        background-color: $blue04;
    }

    &--red01::before {
        background-color: $red01;
    }

    &--red02::before {
        background-color: $red02;
    }

    &--red03::before {
        background-color: $red03;
    }

    &--red04::before {
        background-color: $red04;
    }

}

.stats__category-bar {
    &--yellow01 {
        background-color: $yellow01;
    }

    &--yellow02 {
        background-color: $yellow02;
    }

    &--yellow03 {
        background-color: $yellow03;
    }

    &--yellow04 {
        background-color: $yellow04;
    }

    &--green01 {
        background-color: $green01;
    }

    &--green02 {
        background-color: $green02;
    }

    &--green03 {
        background-color: $green03;
    }

    &--green04 {
        background-color: $green04;
    }

    &--blue01 {
        background-color: $blue01;
    }

    &--blue02 {
        background-color: $blue02;
    }

    &--blue03 {
        background-color: $blue03;
    }

    &--blue04 {
        background-color: $blue04;
    }

    &--red01 {
        background-color: $red01;
    }

    &--red02 {
        background-color: $red02;
    }

    &--red03 {
        background-color: $red03;
    }

    &--red04 {
        background-color: $red04;
    }
}