.item {
    &--yellow01::before {
        background-color: $yellow01;
    }

    &--yellow02::before {
        background-color: $yellow02;
    }

    &--yellow03::before {
        background-color: $yellow03;
    }

    &--yellow04::before {
        background-color: $yellow04;
    }

    &--red01::before {
        background-color: $red01;
    }

    &--red02::before {
        background-color: $red02;
    }

    &--red03::before {
        background-color: $red03;
    }

    &--red04::before {
        background-color: $red04;
    }

}