.settings,
.categories,
.category,
.limits {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-height: 100vh;
    width: 100vw;
    background-color: grey;
    padding: 40px;
    flex-direction: column;
    font-family: $font-main;
    color: $white;

    &--active {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 20px;
        letter-spacing: 2px;
    }

    &__arrow {
        background-color: transparent;
        border: none;
    }

    &__list {
        list-style: none;
    }

    &__item {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.category {
    &__content {
        margin-bottom: 60px;
    }

    &__description {
        font-size: 8px;
    }

}


.category__colors {
    height: calc((100vw - 80px)/2);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.color {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.yellow {
    &01 {
        background-color: $yellow01;
    }

    &02 {
        background-color: $yellow02;
    }

    &03 {
        background-color: $yellow03;
    }

    &04 {
        background-color: $yellow04;
    }
}

.red {
    &01 {
        background-color: $red01;
    }

    &02 {
        background-color: $red02;
    }

    &03 {
        background-color: $red03;
    }

    &04 {
        background-color: $red04;
    }

}


input[type="radio"] {
    display: none;

    &:checked+label {
        span {
            border: 2px solid black;
        }
    }

    &:disabled+label {
        span {
            opacity: 0.2;
        }
    }
}

.limits {

    &__day {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        font-weight: 300;
    }

    &__input {
        height: 30px;
        max-width: 20%;
        border-radius: 10px;
        border: none;
    }
}