@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-main: 'Roboto',
sans-serif;

/* colors */
$text-dark: #004479;
$background: #1772B8;
$navigation: #A0C6E2;
$day-container: #D0E3F1;
$white: #FEFEFE;
$red: #C60000;

$category-yellow: #d8d400;
$category-red: red;
$category-green: green;